.text-center {
        text-align: center;
      }
.audio-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
.header {
        font-family: 'Oswald', sans-serif;
        font-size:120px;
        text-align: center;
}
.header:hover {
        background-color: lightgray;
      }
[href]:hover {
        background-color: lightgray;
}
#paypal:hover {
        background-color: lightgray;
}
.header-link {
        color:#000000; text-decoration:none
}